<!DOCTYPE html>
<html lang="pt-br">
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>

<div class="button-container">
    <button class="button">{{id}} - {{title}} - {{created_at}}</button>
    <div>
        <button id="btnExcluir" data-parametro={{id}}>Excluir</button>
        <button>Editar</button>
    </div>
</div>

<script>
    $(document).ready(function(){
        $("#btnExcluir").click(function(){
            var parametro = $(this).data("parametro")
            $.ajax({
                url: "app/utils/Delete.php", 
                type: "POST",
                data: { parametro: parametro },
                success: function(response){
                    alert(response);
                    location.reload();
                },
                error: function(xhr, status, error){
                    console.error("Ocorreu um erro ao chamar a função PHP:", error);
                }
            });
        });
    });
</script>

</body>
</html>